div{
    /* border: 1px solid black; */
    padding: 0px !important;
}
body{
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Montserrat;
}
.row{
    margin: 0px auto;
    height: 70% !important;
}
.col-6,.col-3{
    height: 300px !important;
}
.col-6:hover{
    border: 3px solid #101935 !important;
}
.col-3:hover{
    border: 3px solid #101935 !important;
}
.button{
    background-color: #e63946;
    padding: 10px 10px 10px 10px;
    color: #f1faee;
}
.button:hover{
    background-color: #a8dadc;
    color: #1d3557;
}
.col{
    height: 400px !important;
    padding-left: 10px !important;
}
a{
    text-decoration: none !important;
}
.bg-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}